.background-escola{
	height: 600px;
    position: relative;
    box-shadow: 0 0 5px;
     /*#fff*/
    border-radius: 50%;
    width: 80%;
}
.div-img{
	width: 40%;
}
body{
	background-color: #6495ED;
}
.icon-whatsapp{
	width: 40px;
	height: 40px;
}
.icon-facebook{
	width: 40px;
	height: 40px;
}
.icon-instagram{
    width: 40px;
	height: 40px;	
}
.icon-telegram{
    width: 40px;
	height: 40px;	
}
.btn-contato{
background-color: #00008B;
padding: 10px 10px 10px 10px;
color: white;
border-radius: 10px;
}
.btn-contato-div{
	margin-top: 15px;
}
.container-principal {
        height: 100%;
        display: inline-block;
        margin-left: 10%;
        position: relative;
        /*margin-top: -40%;*/
    }
.op1 {
        width: 10%;
        display: inline-block;
        font-size: 15px;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:20vw;
    }
    .op2{
        width: 10%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 15px;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:20vw;
        margin-top: 15px;
        }
        
    .img-fundo{
        margin-top: 10px;
        margin-left: 10%;
        position: absolute;
    	width: 92%;
    }
    .img-escola{
    height: 350px;
    width: 92%;
    opacity: 0.5 ;
    }