<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./../assets/icons/style.css" />
    <link rel="stylesheet" href="./../css/style.css" />
    <link rel="stylesheet" type="text/css" href="./../css/contato-pagina.css">
	 <!-- Apontamento JavaScript -->
    <script src="./../js/efeitos-imagens.js"></script>

	<title>Nossos contatos</title>
</head>
<body>
<header class="nav">
        <ul>
          <li><a href="./../index.html">Home</a></li>
          <li><a href="#">Imagens</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
      </header>

      	<div class="img-fundo">
      		<img src="./../assets/escola-teste.jpg" class="img-escola">
      	</div>
      <div class="container-principal">
				<div class="op1" >
						<img src="./../assets/whatsapp-icon-87l.png" class="icon-whatsapp"><br>
					<p>
						<br>Se você deseja solicitar serviços, obter informações ou esclarecer dúvidas, utilize esse canal.<br>
					</p>
					<div class="btn-contato-div">
						<a href="https://wa.me/5524992629532" target="_blank" alt="Link para entrar em contato" class="btn-contato" >Fale Conosco</a>
					</div>
				</div>
				<div class="op2">
					<p>
						<img src="./../assets/facebook.png" class="icon-facebook" ><br>
						<br>Sinta-se sempre à vontade para manifestar opiniões, sugestões, reclamações ou elogios na Ouvidoria.<br>
					</p>
					<div class="btn-contato-div">
						<a href="#" target="_blank" class="btn-contato"  alt="Link para entrar em contato">Nos visite</a>
					</div>
				</div>
				<div class="op2">
				 <p>
						<img src="./../assets/instagram-icon.png" class="icon-instagram"><br>
						<br>Se você quer saber mais sobre proteção de dados utilize esse canal.<br>
					</p>
					<div class="btn-contato-div" >
						<a target="_self" href="#dpo" class="btn-contato"  alt="ancora para a Proteção de Dados">Siga-nos</a>
					</div>
				</div>
				<div class="op2">
				   <p>
						<img src="./../assets/telegram-icon.png" class="icon-telegram"><br>
					</p>
					<p>
										
										  					  					  					  					  					  					  					  					
											Se você tem interesse em trabalhar no Grupo Educacional Bom Jesus, cadastre seu currículo no <i>link</i> a seguir.<br>
					</p>
					<div class="btn-contato-div">
						<a href="#" target="_blank" class="btn-contato" data-modal="modal-contato" data-modal="modal-contato" alt="Link para entrar em contato">Participe do nosso canal</a>
					</div>
			</div>
		</div>

</body>
</html>